body {
  background-color: #0e0e0e;
}

* {
  font-family: "Segoe UI";
}

.header {
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  color: grey;
  display: flex;
  justify-content: space-between;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.navbar-title {
  color: #e9eaeb;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  padding-right: 18px;
}

.navbar-link {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 17px;
}

.nav-link a:hover {
  cursor: pointer;
}

.right-nav {
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-right: 5px;
  border: 1px solid grey;
}

.search-input {
  outline: none;
  padding: 2px 4px;
}

.search-icon {
  padding-right: 7px;
}

.version {
  display: flex;
  justify-content: center;
  color: #9ba3b4;
  font-weight: 500;
  font-size: 14px;
}

.download-btn {
  cursor: pointer;
  color: #fff;
  background-color: #0078d4;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 96px;
  margin-left: 100px;
  margin-right: 100px;
}

.section-top {
  align-content: center;
  margin-right: 60px;
  color: #9ba3b4;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(255, 251, 248, 0.257);
  padding: 8px 12px;
  border-radius: 32px;
  margin-right: 112px;
  margin-bottom: 10px;
}

.section-left {
  margin: 32px 40px;
  align-items: center;
  float: left;
}

.section-right img {
  height: 500px;
  width: 800px;
}

.section-middle {
  color: white;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
}

.section-bottom {
  cursor: pointer;
  color: #fff;
  background-color: #0078d4;
  padding: 13px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 172px;
}
